
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    background-color: #fff;
    color: #555 ;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

header {
    background-image: url(img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.text-box {
        position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 31px;
}

.logo {
    height: 75px;
    width: auto;
    float: center;
    margin-top: 35px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

h1,
h2,
h3 { 
    font-weight: 300;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 250%;
    word-spacing: 4px;
    
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}


h3 {
    font-size: 110%;
    margin-bottom: 15px;
}